# Dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output & Build
dist
coverage

# Version Control & Git hooks
.git
.github
.husky

# Environment & Secrets
.env
.env.*
!.env.example

# IDE & OS files
.vscode
.idea
.DS_Store
Thumbs.db

# Documentation & Extras
docs
*.md
!README.md
