PORT=

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_DATABASE=
DB_SYNC=true
ACCESS_TOKEN_SECRET=
ACCESS_TOKEN_EXPIRES_IN=
REFRESH_TOKEN_SECRET=
REFRESH_TOKEN_EXPIRES_IN=
REDIS_URL=
REDIS_TTL=
IDEMPOTENCY_KEY=
NODE_ENV=development
CORS_ORIGIN=